* {
	margin: 0;
	padding: 0;
}
div {
	margin: 0 auto;
	text-align: center;
	line-height: 200px;
}

#aaa {
	width: 600px;
	height: 600px;
	background-color: red;
	font-size: 30;
	color: #fff;
}
#bbb {
	background-color: aqua;
}
#ccc {
	background-color: blue;
}
#ddd {
	background-color: green;
}
.child {
	width: 200px;
	height: 200px;
}
.aaa {
	width: 600px;
	height: 600px;
	background-color: blue;
}
.bbb {
	width: 200px;
	height: 200px;
	background-color: black;
}
div.aaa :nth-child(1) {
	font-size: 44px;
	color: red;
}
div.aaa :nth-child(2) {
	font-size: 22px;
	color: yellow;
}
div.aaa :nth-child(3) {
	font-size: 70px;
	color: orange;
}
#img {
	width: 600px;
	height: 600px;
	background-color: yellow;
}
#img div,
img {
	width: 200px;
	height: 200px;
}
