* {
	margin: 0;
	padding: 0;
}
#a {
	width: 600px;
	height: 600px;
	background-color: #123456;
	margin: 0 auto;
}
img {
	width: 100px;
	height: 100px;
	display: block;
}
#a img:nth-child(1) {
	position: relative;
	top: 100px;
}
#a img:nth-child(2) {
	margin-top: 100px;
	margin-left: 100px;
}
#a img:nth-child(3) {
	margin-left: 200px;
}
#a img:nth-child(4) {
	margin-left: 300px;
}
#a img:nth-child(5) {
	margin-left: 400px;
}
#a img:nth-child(6) {
	margin-left: 500px;
	margin-top: -100px;
}
#a img:nth-child(7) {
	margin-top: -100px;
}
